{% load static i18n %}
    <script>
        KioskBoard.run('.textinput', {
          keysArrayOfObjects: null,
          keysJsonUrl: '{% static 'kioskboard-keys-english.json' %}',
          keysSpecialCharsArrayOfStrings: null,
          keysNumpadArrayOfNumbers: null,
          language: 'en',
          theme: 'light',
          capsLockActive: true,
          allowRealKeyboard: false,
          allowMobileKeyboard: false,
          cssAnimations: true,
          cssAnimationsDuration: 360,
          cssAnimationsStyle: 'slide',
          keysAllowSpacebar: true,
          keysSpacebarText: 'Space',
          keysFontFamily: 'sans-serif',
          keysFontSize: '22px',
          keysFontWeight: 'normal',
          keysIconSize: '25px',
        });
        
  
      </script>