body {
    /* background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%); */
    /* background: #FFFAFF; */
    background: url('/static/images/background.jpeg');
}

.submitBtnBottom {
    height:70px;
    position: absolute; 
    bottom: 10px; 
    left: 10px; 
}

.form-control, .form-select {
  font-size: 24px;
  width: 70%;
  text-align: center;
  display: inline;
}

.form-text {
  font-size: 18px;
}

.form-label {
  margin-bottom: 0.5rem;
  font-size: 21px;
}

.supportText{
  float: right;
  position: fixed;
  bottom: 90px;
  left: 17px;
  width: 63px;
  padding: 3px;
  background: white;
  border-radius: 200px;
}

.btn-confirm {
  height: 50px!important;
}

/* 
h1 {
    color: #1E1B18!important;
}

.form-label {
    color: #1E1B18!important;
} */

/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  height: 80px;
font-size: 25px;    
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}